.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.orange {
    background-color: rgba(255, 165, 0, 0.3);
}

.green {
    background-color: rgba(0, 128, 0, 0.3);
}

.box#welcome-member {
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
}

.field.control.field-validation-error {
    color: red !important;
}

nav.navbar a {
    color: white;
}

.pagination-link.is-current {
    background-color: #00d1b2;
    border-color: #00d1b2;
}

div#filterControls {
    padding: 1.25rem 1.25rem 1.6rem 1.25rem;
}

.verticalLine {
    border-right: 1px solid #efefef;
    padding-right: .75rem;
}

.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-equal-height .card-footer {
    margin-top: auto;
}