﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Umbraco.Field("address")</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            COMPANY HOUSE | 31 E - Sommervej
        </a>


    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            @{
                var selection = Model.Content.Site().Children().Where(x => x.IsVisible());
            }
            @foreach (var item in selection)
            {
                <a class="@(item.IsAncestorOrSelf(Model.Content) ? "is-active" : "") navbar-item" href="@item.Url">
                    @item.Name</a>
            }

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <span>Welcome @User.Identity.Name</span>
                    <a class="button is-primary" href="~/Login">Logout</a>
                }
                else
                {
                    <a class="button is-primary" href="~/Login">Login</a>
                }
            </div>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container">
        @RenderBody()
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>


</body>
</html>