﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Umbraco.Web
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@{
    Layout = "_MasterView.cshtml";
}

@* the fun starts here *@

<div class="card">
    <div class="card-content">
        <h2 class="title is-2">Caretaker Login:</h2>
        @if (!Members.GetCurrentLoginStatus().IsLoggedIn)
        {
            @Html.Action("Index", "LoginSurface")
        }
        else
        {
            @Html.Partial("Logout")
        }
    </div>
</div>