﻿@using CompanyHouseTest.Extensions
@using CompanyHouseTest.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<CompanyHouseTest.Models.TaskRenderModel>
@{
    Layout = "_MasterView.cshtml";

    var taskRepositoryPage = ((IPublishedContent)ViewBag.CreateTaskPage).Siblings().First(x => x.DocumentTypeAlias.Equals("taskRepository"));
    var taskRepositoryPageUrl = taskRepositoryPage.Url;
}


@using (Html.BeginUmbracoForm("CreateTask", "TaskSurface", new object { }, new { @class = "col s12" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-content">
            <h2 class="title is-2">Create a Task:</h2>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.FullName, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.FullName, new { @class = "input", placeholder = "Caretaker Name" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.FullName)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.PhoneNumber, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.PhoneNumber, new { @class = "input", placeholder = "8 digits" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.PhoneNumber)</span>
            </div>


            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.TaskName, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.TaskName, new { @class = "input", placeholder = "Task Name" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.TaskName)</span>
            </div>


            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.TaskDescription, new { @class = "label" })
                <div class="control">
                    @Html.TextAreaFor(m => m.TaskViewModel.TaskDescription, new { @class = "textarea", placeholder = "Task Description" })
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.TaskDescription)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.LocationInBuilding, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.LocationInBuilding, new { @class = "input", placeholder = "Location In building" })
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.LocationInBuilding)</span>
            </div>

            @*<div class="field">
                    @Html.LabelFor(m => m.TaskViewModel.Statuses, new { @class = "label" })
                    <div class="control">
                        <div class="select">
                            @Html.DropDownListFor(m => m.TaskViewModel.TaskStatus, Model.TaskViewModel.Statuses.ToList(), "Select Status")
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.TaskViewModel.Statuses)
                </div>*@

            @Html.HiddenFor(m => m.TaskViewModel.TaskStatus)

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.Priorities, new { @class = "label" })
                <div class="control">
                    <div class="select">
                        @Html.DropDownListFor(m => m.TaskViewModel.TaskPriority, Model.TaskViewModel.Priorities.ToList(), "Select Priority")
                    </div>
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.Priorities)</span>
            </div>

            @Html.HiddenFor(m => m.TaskViewModel.TaskDate)

            <!-- Form actions -->
            <div class="field is-grouped">
                <p class="control">
                    <input type="submit" name="Submit" value="Create" class="button is-primary" />
                </p>
                <p class="control">
                    <a class="button" href="@taskRepositoryPageUrl">
                        Cancel
                    </a>
                </p>
            </div>
        </div>
    </div>
}