﻿@using CompanyHouseTest.Extensions
@using CompanyHouseTest.Models
@using PagedList.Mvc;
@using Umbraco.Core.Services
@using CompanyHouseTest.Infrastructure
@inherits UmbracoViewPage<CompanyHouseTest.Models.TaskRenderModel>
@{
    Layout = "_MasterView.cshtml";
}


@* Desktop filtering *@
<div class="is-hidden-mobile">
    @if (User.Identity.IsAuthenticated)
    {
        <div id="filterControls" class="box">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">



                    <div class="control">
                        <div class="verticalLine">
                            <!-- Content -->
                            <p class="menu-label">
                                Priority
                            </p>

                            <div class="buttons has-addons">
                                @if (ViewBag.CurrentPriority == "Low")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Low"), "SortByPriority", "TaskSurface", new { priority = "Low" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Low"), "SortByPriority", "TaskSurface", new { priority = "Low" }, new { @class = "button" })
                                }

                                @if (ViewBag.CurrentPriority == "Normal")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Medium"), "SortByPriority", "TaskSurface", new { priority = "Normal" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Medium"), "SortByPriority", "TaskSurface", new { priority = "Normal" }, new { @class = "button" })
                                }

                                @if (ViewBag.CurrentPriority == "High")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority High"), "SortByPriority", "TaskSurface", new { priority = "High" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority High"), "SortByPriority", "TaskSurface", new { priority = "High" }, new { @class = "button" })
                                }

                            </div>
                        </div>
                    </div>

                    <div class="control">
                        <div class="verticalLine">
                            <!-- Content -->
                            <p class="menu-label">
                                Status
                            </p>

                            <div class="buttons has-addons">
                                @if (ViewBag.CurrentStatus == "On It")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status On It"), "SortByStatus", "TaskSurface", new { status = "On It" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status On It"), "SortByStatus", "TaskSurface", new { status = "On It" }, new { @class = "button" })
                                }

                                @if (ViewBag.CurrentStatus == "Waiting")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status Waiting"), "SortByStatus", "TaskSurface", new { status = "Waiting" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status Waiting"), "SortByStatus", "TaskSurface", new { status = "Waiting" }, new { @class = "button" })
                                }

                                @if (ViewBag.CurrentStatus == "Finished")
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status Finished"), "SortByStatus", "TaskSurface", new { status = "Finished" }, new { @class = "button is-active" })
                                }
                                else
                                {
                                    @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Status Finished"), "SortByStatus", "TaskSurface", new { status = "Finished" }, new { @class = "button" })
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="control">
                        <!-- Content -->
                        <p class="menu-label">
                            Date
                        </p>
                        <div class="buttons has-addons">
                            @if (ViewBag.CurrentDate == "Asc")
                            {
                                @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Date Ascending"), "OrderByDate", "TaskSurface", new { date = "Asc" }, new { @class = "button is-active" })
                            }
                            else
                            {
                                @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Date Ascending"), "OrderByDate", "TaskSurface", new { date = "Asc" }, new { @class = "button" })
                            }

                            @if (ViewBag.CurrentDate == "Desc")
                            {
                                @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Date Descending"), "OrderByDate", "TaskSurface", new { date = "Desc" }, new { @class = "button is-active" })
                            }
                            else
                            {
                                @Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Date Descending"), "OrderByDate", "TaskSurface", new { date = "Desc" }, new { @class = "button" })
                            }

                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>


@* Mobile filtering *@
<div class="is-hidden-tablet">
    @if (User.Identity.IsAuthenticated)
    {
        <aside class="menu">
            <p class="menu-label">
                Priority
            </p>
            <div class="dropdown is-active">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Priority</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        @if (ViewBag.CurrentPriority == "Low")
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Low"), "SortByPriority", "TaskSurface", new { priority = "Low" }, new { @class = "dropdown-item is-active" })</a>
                        }
                        else
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Low"), "SortByPriority", "TaskSurface", new { priority = "Low" }, new { @class = "dropdown-item" })</a>
                        }

                        @if (ViewBag.CurrentPriority == "Normal")
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Medium"), "SortByPriority", "TaskSurface", new { priority = "Normal" }, new { @class = "dropdown-item is-active" })</a>
                        }
                        else
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority Medium"), "SortByPriority", "TaskSurface", new { priority = "Normal" }, new { @class = "dropdown-item" })</a>
                        }

                        @if (ViewBag.CurrentPriority == "High")
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority High"), "SortByPriority", "TaskSurface", new { priority = "High" }, new { @class = "dropdown-item is-active" })</a>
                        }
                        else
                        {
                            <a>@Html.ActionLink(UmbDictionaryLanguage.GetDanishTranslation("Priority High"), "SortByPriority", "TaskSurface", new { priority = "High" }, new { @class = "dropdown-item" })</a>
                        }


                        @*<hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                With a divider
                            </a>*@
                    </div>
                </div>
            </div>











        </aside>
    }
</div>



<section class="section">
    <div class="container">
        @{
            var createPage = ((IPublishedContent)ViewBag.TaskRepository).Siblings().First(x => x.DocumentTypeAlias.Equals("taskCreate"));
            var currentPageUrl = Model.Content.Url;
        }
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <h2 class="title is-3">Caretaker Tasks:</h2>
            </div>
            <!-- Right side -->
            <div class="level-right">
                <a class="button is-primary" href="@createPage.Url">Create A Task</a>
            </div>
        </nav>

        @* Tasks for mobile / tablet *@
        <div class="is-hidden-desktop">
            <div class="row is-multiline">
                <div class="columns is-multiline">
                    @foreach (var task in Model.TasksPaged)
                    {
                        <div class="column is-6 is-full-mobile">
                            <div class="card card-equal-height">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Task: @task.TaskName
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        @*<p>
                                                <span class="has-text-weight-semibold">Task Id: @task.ContentId</span>
                                            </p>*@

                                        <span class="has-text-weight-semibold">Name:</span>
                                        @task.FullName
                                        <br />

                                        <span class="has-text-weight-semibold">Phone Number:</span> @task.PhoneNumber
                                        <br />

                                        <span class="has-text-weight-semibold">Task Description:</span> @task.TaskDescription.Truncate(100)

                                        <br />
                                        <span class="has-text-weight-semibold">Location In Building:</span> @task.LocationInBuilding

                                        <br />
                                        <span class="has-text-weight-semibold">Task Status:</span> @task.TaskStatus

                                        <br />
                                        <span class="has-text-weight-semibold">
                                            Task Priority:
                                        </span>
                                        @if (task.TaskPriority == "High")
                                        {
                                            <span class="red">
                                                @task.TaskPriority
                                            </span>
                                        }
                                        @if (task.TaskPriority == "Normal")
                                        {
                                            <span class="green">
                                                @task.TaskPriority
                                            </span>
                                        }
                                        @if (task.TaskPriority == "Low")
                                        {
                                            <span class="orange">
                                                @task.TaskPriority
                                            </span>
                                        }


                                        <br />
                                        <span class="has-text-weight-semibold">Task Date:</span> @task.TaskDate

                                    </div>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <footer class="card-footer">
                                        @Html.ActionLink("Update", "UpdateTaskRedirect", "TaskSurface", new { id = task.ContentId }, new { @class = "card-footer-item" })
                                        @Html.ActionLink("Delete", "DeleteTask", "TaskSurface", new { id = task.ContentId, pageId = ((IPublishedContent)ViewBag.TaskRepository).Id }, new { @class = "card-footer-item" })
                                    </footer>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @* Tasks for desktop *@
        <div class="is-hidden-touch">
            <table class="table is-bordered is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Task Description</th>
                        <th>Location in building</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model.TasksPaged)
                    {
                        <tr>
                            <td>@task.FullName</td>
                            <td>@task.PhoneNumber</td>
                            <td>@task.TaskDescription.Truncate(100)</td>
                            <td>@task.LocationInBuilding</td>
                            <td>@task.TaskStatus</td>
                            <td>
                                @if (task.TaskPriority == "High")
                                {
                                    <span class="red">
                                        @task.TaskPriority
                                    </span>
                                }
                                @if (task.TaskPriority == "Normal")
                                {
                                    <span class="green">
                                        @task.TaskPriority
                                    </span>
                                }
                                @if (task.TaskPriority == "Low")
                                {
                                    <span class="orange">
                                        @task.TaskPriority
                                    </span>
                                }
                            </td>
                            <td>@task.TaskDate</td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td>
                                    <div class="buttons">
                                        <a href='@Url.Action("DeleteTask", "TaskSurface", new {id = task.ContentId, pageId = ((IPublishedContent) ViewBag.TaskRepository).Id})' class='btn button'>
                                            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                                <path fill="#000000" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
                                            </svg>
                                        </a>
                                        <a href='@Url.Action("UpdateTaskRedirect", "TaskSurface", new {id = task.ContentId})' class='btn button'>
                                            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                                <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

<nav class="level">
    <div class="level-item">

        <nav class="pagination" role="navigation" aria-label="pagination">

            @Html.PagedListPager(Model.TasksPaged, page => Url.Action("Page", "TaskSurface", new {page, priority = ViewBag.CurrentPriority, status = ViewBag.CurrentStatus, date = ViewBag.CurrentDate}), new PagedListRenderOptions()
            {

                UlElementClasses = new[] {"pagination-list"},
                DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                ContainerDivClasses = null,
                MaximumPageNumbersToDisplay = 5,
                ClassToApplyToFirstListItemInPager = "",
                ClassToApplyToLastListItemInPager = "",
                LiElementClasses = new[] {"pagination-link"},
                FunctionToTransformEachPageLink = (li, a) =>
                {
                    string valueCopy = "";
                    a.MergeAttributes(li.Attributes, true);

                        for (int i = 0; i < a.Attributes.Count; i++)
                        {
                            if (a.Attributes.Values.ToList().Find(v => v.Equals("active")) == "active")
                            {
                                var keyCopy = a.Attributes.Keys.ToArray()[i];
                                a.Attributes[keyCopy] = "is-current";

                            }
                        }
                    return a;
                }



            })
        </nav>

        @* Page @(Model.TasksPaged.PageCount < Model.TasksPaged.PageNumber ? 0 : Model.TasksPaged.PageNumber) of @Model.TasksPaged.PageCount *@

        @* @Html.PagedListPager(Model.TasksPaged, page => Url.Action("Page", "TaskSurface", new {page})) *@
    </div>
</nav>