﻿@using CompanyHouseTest.Extensions
@using CompanyHouseTest.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<CompanyHouseTest.Models.TaskRenderModel>
@{
    Layout = "_MasterView.cshtml";

    var taskRepositoryPage = ((IPublishedContent)ViewBag.UpdateTaskPage).Siblings().First(x => x.DocumentTypeAlias.Equals("taskRepository"));
    var taskRepositoryPageUrl = taskRepositoryPage.Url;
}


@using (Html.BeginUmbracoForm("UpdateTask", "TaskSurface", new object {}, new {@class = "col s12"}))
{
    <div class="card">
        <div class="card-content">
            <h2 class="title is-2">Update Task</h2>
            @Html.HiddenFor(m => m.TaskViewModel.ContentId)

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.FullName, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.FullName, new { @class = "input", placeholder = "Caretaker name" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.FullName)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.PhoneNumber, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.PhoneNumber, new { @class = "input", placeholder = "Caretaker name" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.PhoneNumber)</span>
            </div>


            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.TaskName, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.TaskName, new { @class = "input", placeholder = "Task Name" })
                </div>

                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.TaskName)</span>
            </div>


            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.TaskDescription, new { @class = "label" })
                <div class="control">
                    @Html.TextAreaFor(m => m.TaskViewModel.TaskDescription, new { @class = "input", placeholder = "Task Description" })
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.TaskDescription)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.LocationInBuilding, new { @class = "label" })
                <div class="control">
                    @Html.TextBoxFor(m => m.TaskViewModel.LocationInBuilding, new { @class = "input", placeholder = "Location in building" })
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.LocationInBuilding)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.Statuses, new { @class = "label" })
                <div class="control">
                    <div class="select">
                        @Html.DropDownListFor(m => m.TaskViewModel.TaskStatus, Model.TaskViewModel.Statuses.ToList(), Umbraco.DataTypeService.GetPreValueAsString(Int32.Parse(Model.TaskViewModel.TaskStatus)))
                    </div>
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.Statuses)</span>
            </div>

            <div class="field">
                @Html.LabelFor(m => m.TaskViewModel.TaskPriority, new { @class = "label" })
                <div class="control">
                    <div class="select">
                        @Html.DropDownListFor(m => m.TaskViewModel.TaskPriority, Model.TaskViewModel.Priorities.ToList(), Umbraco.DataTypeService.GetPreValueAsString(Int32.Parse(Model.TaskViewModel.TaskPriority)))
                    </div>
                </div>
                <span class="has-text-danger">@Html.ValidationMessageFor(m => m.TaskViewModel.TaskPriority)</span>
            </div>

            @*<div class="field">
            @Html.LabelFor(m => m.TaskViewModel.TaskDate, new {@class = "label"})
            <div class="control">
                @Html.EditorFor(m => m.TaskViewModel.TaskDate, new { htmlAttributes = new { @class = "input" }, })
            </div>
            @Html.ValidationMessageFor(m => m.TaskViewModel.TaskDate)
        </div>*@

            @Html.HiddenFor(m => m.TaskViewModel.TaskDate)

            <!-- Form actions -->
            <div class="field is-grouped">
                <p class="control">
                    <input type="submit" name="Submit" value="Update" class="button is-primary" />
                </p>
                <p class="control">
                    <a class="button" href="@taskRepositoryPageUrl">
                        Cancel
                    </a>
                </p>
            </div>
        </div>
    </div>
}