﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@if (!Members.GetCurrentLoginStatus().IsLoggedIn)
{
    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        @Html.ValidationSummary("loginModel", true)
        <div class="row">
            <div class="input-field col s12">
                @Html.TextBoxFor(m => loginModel.Username)
                @Html.LabelFor(m => loginModel.Username)
                @Html.ValidationMessageFor(m => loginModel.Username)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.PasswordFor(m => loginModel.Password)
                @Html.LabelFor(m => loginModel.Password)
                @Html.ValidationMessageFor(m => loginModel.Password)
            </div>
        </div>
        <!-- Form actions -->
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Login
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
}
else
{
    <p>You are currently logged in as @Members.GetCurrentLoginStatus().Name</p>
}