﻿@using CompanyHouseTest.Controllers
@model Umbraco.Web.Models.LoginModel

@using (Html.BeginUmbracoForm("Login", "LoginSurface", new object { }, new { @class = "col s12" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="field">
        @Html.LabelFor(m => m.Username, new { @class = "label" })
        <div class="control">
            @Html.TextBoxFor(m => m.Username, new { @class = "input", placeholder = "Username" })
        </div>

        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="field">
        @Html.LabelFor(m => m.Password, new { @class = "label" })
        <div class="control">
            @Html.TextBoxFor(m => m.Password, new { @class = "input", placeholder = "Password" })
        </div>

        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <input type="hidden" name="RedirectUrl" value="/" />

    <!-- Form actions -->
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit" name="action">
                Submit
            </button>
        </div>
    </div>

}