﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("~/Umbraco_Client/Ui/jquery.js");
    Html.RequiresJs("~/Umbraco_Client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("~/Umbraco_Client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var logoutModel = new PostRedirectModel();
    //Here you can specify a redirect URL for after logging out, by default umbraco will simply
    //redirect to the current page. Example to redirect to the home page:
    logoutModel.RedirectUrl = "/task-repository";
}

@Html.RenderJsHere()
@if (loginStatusModel.IsLoggedIn)
{
    <p>You are currently logged in as @loginStatusModel.Name</p>
    <br/>

    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
        <div class="field">
            <div class="control">
                <button class="button" type="submit" name="action">
                    Logout
                </button>
            </div>
        </div>

        @Html.HiddenFor(m => logoutModel.RedirectUrl)
    }
}