﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Member Admin Dropdown -->
<ul id="admin_dropdown" class="dropdown-content">
    <li><a href="/members">Members</a></li>
    <li><a href="/message-board">Message Board</a></li>
    <li class="divider"></li>
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="/login">Logout</a></li>
        <li><a href="/register">Register</a></li>
    }
    else
    {
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    }
</ul>

<!-- Mobile Side Nav -->
<ul class="sidenav" id="mobile-menu">
    <li><a href="sass.html">About</a></li>
    <li><a href="badges.html">Articles</a></li>
    <li><a href="collapsible.html">Projects</a></li>
    <li><a href="mobile.html">Contact</a></li>
</ul>


<nav class="purple darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">AWDN</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            @{
            var selection = Model.Content.Site().Children().Where(x => x.IsVisible());
            }
            @foreach(var item in selection){
            <li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : "" )">
                <a href="@item.Url">@item.Name</a>
            </li>
            }
        </ul>
        <ul id="nav-mobile" class="right">
            @if (User.Identity.IsAuthenticated)
            {
                <li><span class="login-welcome">Welcome @User.Identity.Name</span></li>
                <li><a class="dropdown-trigger" href="#!" data-target="admin_dropdown"><i class="material-icons">more_vert</i></a></li>
            }
            else
            {
                <li><a class="dropdown-trigger" href="#!" data-target="admin_dropdown"><i class="material-icons">more_vert</i></a></li>
            }
        </ul>
    </div>
</nav>
